﻿body {
}

#cardWrap {
    position: relative;
}
#card {
    /*width: 100%;
    height: 100%;*/
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

    #card div {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    #card.cardfront {
        background: red;
    }

    #card.cardback {
        background: blue;
        transform: rotateY(180deg);
    }

    #card.flipped {
        transform: rotateY(180deg);
    }
